/*

--- 01  TYPOGRAPHY SYSTEM
-font size system (px):
    10px = 1rem / 12px = 1.2rem / 14px = 1.4rem / 16px = 1.6rem / 18px = 1.8rem
    / 20px = 2rem / 24px = 2.4rem / 30px = 3rem / 36px = 3.6rem / 44px = 4.4rem
    / 52px = 5.2rem / 62px = 6.2rem / 74px = 7.4rem / 86px = 8.6rem / 98px = 9.8rem

-font weights:
    Default: 400
    Medium:500
    Semi-bold:600
    Bold:700

-line heights:
    Default: 1
    Small: 1.05
    Paragraph default: 1.6

- Letter spacing


--- 02 COLORS
-Primary:
    #e67e22
-Tints:
    #fdf2e9
-Shades:
    #cf711f
-Accents:

-Greys:
    #555 / #333

--- 03 SHADOWS

--- 04 BORDER-RADIUS
    9px

--- 05 WHITESPACE
-spacing system (px):
    2px = 0.2rem / 4px = 0.4rem / 8px = 0.8rem / 12px = 1.2rem / 16px = 1.6rem
    / 24px = 2.4rem / 32px = 3.2rem / 48px = 4.8rem / 64px = 6.4rem / 80px = 8rem
    / 96px = 9.6rem / 128px = 12.8rem

*/

:root {
    /*--- 02 COLORS*/
    --primary: #4CAF50;
    --tint: #edf7ee;
    --shade: #3d8c40;

    /*--- 02 TEXTS */
}

/**************************/
/* HEADER */
/**************************/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--tint);
    padding: 0 4.8rem;


    /*    if want to make the header sticky */
    height: 9.6rem;
    position: relative;
}

.logo {
    height: 5rem;
}

/**************************/
/* SECTION HERO */
/**************************/
.section-hero {
    background-color: var(--tint);
    padding: 4.8rem 0 9.6rem 0;
}

.hero {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.5rem;
    align-items: center;
    justify-content: center;
}

.hero-img {
    width: 100%;
}

.hero-description {
    font-size: 1.8rem;
    line-height: 1.6;
    margin-bottom: 3.2rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
    list-style: none;
    display: flex;
    gap: 4.8rem;
    align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.8rem;
    transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: var(--primary);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    border: 0.2rem solid var(--primary);
    padding: 1.6rem 3.2rem;
    color: var(--primary);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
    background-color: var(--primary);
    color: #fff;
}


/**************************/
/* ABOUT US */
/**************************/
.section-about-us {
    padding: 9.6rem 0;
}

.about-box {
    width: 50%;
}

.about-description {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 3.2rem;
}

.value-box {
    background-color: var(--tint);
    padding: 3.2rem 4.8rem;
    border-radius: 9px;
}

.about-title {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.about-text {
    font-size: 1.4rem;
    line-height: 1.8;
}

/**************************/
/*  HOW IT WORKS */
/**************************/
.section-how {
    padding: 9.6rem 0;
}

.heading-secondary.htw {
    margin-bottom: 9.8rem;
}

.step {
    padding: 2.4rem;
    background-color: var(--tint);
}

.step-logo-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 3.2rem;
}

.step-number {
    font-size: 6.2rem;
    font-weight: 600;
    color: #ddd;
    /*margin-bottom: 1.2rem;*/
}

.how-logo {
    font-size: 9.8rem;
    color: #333;
    /*background-color: var(--tint);*/
    border-radius: 9px;
}

.htw-title {

}

.htw-text {
    font-size: 1.6rem;
    line-height: 1.6;
}

/**************************/
/*  GALLERY */
/**************************/
.section-gallery {
    background-color: var(--tint);
    padding: 9.6rem 3.2rem;

}

/*.gallery {*/
/*    display: grid;*/
/*    grid-gap: 10px;*/
/*    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
/*    grid-auto-rows: 200px;*/
/*    grid-auto-flow: dense;*/
/*}*/


/*.gallery-item {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.gallery-item img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*    border-radius: 5px;*/
/*    display: inline-block;*/
/*    max-width: 100%;*/
/*    vertical-align: middle;*/
/*}*/

/*.gallery-item img:hover {*/
/*    transform: scale(1.05);*/
/*}*/

/*.gallery .wide {*/
/*    grid-column: span 2;*/
/*}*/

/*.gallery .tall {*/
/*    grid-row: span 2;*/
/*}*/

/*.gallery .big {*/
/*    grid-column: span 2;*/
/*    grid-row: span 2;*/
/*}*/
/*.gallery-item img {*/
/*    vertical-align: auto;*/
/*}*/



/*!* Define the grid layout for each image *!*/
/*.gallery-item:nth-child(1) {*/
/*    grid-column: 1 / span 2;*/
/*    grid-row: 1;*/
/*}*/

/*.gallery-item:nth-child(2) {*/
/*    grid-column: 3 / 4;*/
/*    grid-row: 1 / 3;*/
/*}*/

/*.gallery-item:nth-child(3) {*/
/*    grid-column: span 2;*/
/*    grid-row: 1;*/
/*}*/

/*.gallery-item:nth-child(4) {*/
/*    grid-column: 1;*/
/*    grid-row: 2 / 4;*/
/*}*/

/*.gallery-item:nth-child(5) {*/
/*    grid-column: 2;*/
/*    grid-row: 2;*/
/*}*/

/*.gallery-item:nth-child(6) {*/
/*    grid-column: 4;*/
/*    grid-row: 2;*/
/*}*/

/*.gallery-item:nth-child(7) {*/
/*    grid-column: 5;*/
/*    grid-row: span 2;*/
/*}*/

/*.gallery-item:nth-child(8) {*/
/*    grid-column: 3 / span 2;*/
/*}*/

/*.gallery-item:nth-child(9) {*/
/*    grid-column: 2 / 3;*/
/*    grid-row: 3;*/
/*}*/

.gallery{
    display: flex;
    gap: 2rem;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
